/* styling for the questions children */

#deleteParent{
    padding-bottom: 30px;
}

.questionsParent{
    font-weight: bold;
    font-size: 26px;
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    background-color: #333;
}

#deleteIcon{
    right: 0px;
    position: absolute;
    color: rgb(179, 72, 29);
}

#deleteIcon:hover{
    color: rgb(255, 45, 8);
    cursor:pointer;
}

.questionContent{
    right: 35px;
    position: absolute;
    color: rgb(93, 93, 240);
}

.questionContent:hover{
    color: rgb(160, 160, 224);
    cursor: pointer;
}

/* styling for the answer children */

.answersParent{
    padding: 20px;
    font-size: 20px;
    padding-left: 30px;
    display: none;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* for the li elements */
.childElement{
    background-color: rgb(133, 125, 125);
    padding-top: 5px;
    padding-left: 20px;
    color: white;
    border: white 5px solid;
    border-radius: 10px;
    margin-top: 10px;
    border: black solid 1px;
}

#deleteIconAns{
    right: 30px;
    position: absolute;
    color: rgb(179, 72, 29);
}

#deleteIconAns:hover{
    color: rgb(255, 45, 8);
    cursor: pointer;
}

/* FOR ACCORDION */
.panel {
    padding: 0 18px;
    background-color: rgba(0, 183, 255, 0.52);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* for delete component */
#deleteOption{
    background-color: rgb(214, 214, 31);
    color: #333;
    border-radius: 6px;
    border-right: white 3px solid;
    text-align: center;
    font-size: 21px;
}
#deleteOption:hover{
    background-color: rgba(220, 236, 77, 0.863);
}

.activeDelete{
    background-color: rgba(220, 236, 77, 0.863) !important;
}


/* HERE WE HAVE STYLING FOR DELETE SECTION COMPONENT ONLY!!!!! */
#contentPath{
    background-color: rgb(133, 125, 125);
    padding-top: 10px !important;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: black solid 1px;
}

#parentPath{
    font-size: 20px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    display:none;
    transition: max-height 0.2s ease-out;
}

.centerIt{
    text-align:center;
}

#deleteSection{
    padding-bottom: 20px;
}


